@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Mercadinho do Zé</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem vindo(a) - Mercadinho do Zé</h2>
        <p>
            Mercadinho do Zé é uma aplicação AspNet MVC Core 2.0 usando como ORM o Entity Framework Core.
            .
        </p>
    </div>
</div>
/